html {
  color: #efefef;
  font-family: Georgia, serif;
}

.banner-content {
  background-color: #495562;
  top: 12.5em;
}

.btn {
  border-radius: 4px;
  border-color: #97a49b;
  color: #efefef;
}

@media only screen and (min-width: 25em) {

  .banner-content {
    top: 15.7em;
  }

}
